<!DOCTYPE html>
<html lang="en">
    <%-  include('./partials/head') %>
<body>
    <%-  include('./partials/nav') %>
    <div>
        <h1>About</h1>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas a suscipit dolorum repellat sequi! Similique corporis fugit cum, expedita nihil error iure repudiandae mollitia, aperiam dolor nemo harum rem quaerat?</p>
     <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam, officia repudiandae a optio debitis voluptatem dignissimos voluptatibus et hic omnis iste alias aperiam molestias, inventore ut nulla facilis numquam minus.</p>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, reiciendis! Veniam pariatur voluptates dolorum aliquam provident magnam quaerat cumque autem eaque. Sapiente facere nihil inventore iste laboriosam magnam accusamus deleniti.</p>
    </div> 
    <%-  include('./partials/footer') %>
</body>
</html>