*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
.main{
  background-image: linear-gradient(to right,green,red,blue,yellow);
    height: 600px;
    position: relative;
}
.divider{
    position: absolute;
    top: 30%;
    left: 40%;
    right: 50%;
    bottom: 50%;
   
}
.divider{
    border-radius: 20px;
    border: 2px solid rgba(255, 0, 0, 0) ;
    background-color: aliceblue;
    height: 300px;
    width: 300px;
     display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; 
    
} 
.divider:hover{
    background-color: rgba(240, 248, 255, 0.911);
    height: 310px;
    width: 310px;
    
}
input{
    background-color:rgba(204, 178, 28, 0.082) ;
   border-radius: 10px;
    height: 30px;
    width: 200px;
}
button{
    background-color: rgb(19, 19, 170);
    border-radius: 10px;
    height: 30px;
    width: 200px;
    color: antiquewhite;
}
button:hover{
    background-image: linear-gradient(to right,blue,rgb(0, 153, 255),rgb(225, 0, 255));
}
.a{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
label{
   
    color: rgb(1, 8, 20);
     font-size: large;
}
input[placeholder]{
    text-align: center;
    
}
h2{
    color: white;
    padding-left: 40%;
    padding-top: 100px;
}